<!--<div id="form-main">-->
<!--  <div id="form-div">-->
<!--    <form class="form" id="form1">-->

<!--      <p class="name">-->
<!--        <input name="name" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Name" id="name" />-->
<!--      </p>-->

<!--      <p class="email">-->
<!--        <input name="email" type="text" class="validate[required,custom[email]] feedback-input" id="email" placeholder="Email" />-->
<!--      </p>-->

<!--      <p class="text">-->
<!--        <textarea name="text" class="validate[required,length[6,300]] feedback-input" id="comment" placeholder="Comment"></textarea>-->
<!--      </p>-->


<!--      <div class="submit">-->
<!--        <input type="submit" value="SEND" id="button-blue"/>-->
<!--        <div class="ease"></div>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->

<div class="main-content">

  <div class="container">
    <div class="header" style="text-align: center">
      <p style="font-size: 24px; color: white; text-transform: uppercase">Thêm sách</p>
    </div>

    <form id="survey-form">

      <div class="form-group">
        <label id="name-label" for="title">Title</label>
        <input type="text" name="title" id="title" class="form-control" placeholder="Enter title" required>
      </div>
      <div class="form-group">
        <label id="au-label" for="des">Author</label>
        <input type="text" name="au" id="au" class="form-control" placeholder="Enter author" required>
      </div>
      <div class="form-group">
        <label id="des-label" for="des">Description</label>
        <input type="text" name="des" id="des" class="form-control" placeholder="Enter description" required>
      </div>
      <div class="list-chapter">

      </div>
      <div class="form-group">
        <label id="chapter-label" for="des">Chapter</label>
        <input type="text" name="chapter" id="chapter" class="form-control" placeholder="Enter chapter" required>
      </div>
      <div class="form-group">

        <button id="submit" class="submit-button" type="submit">Submit</button>

      </div>

    </form>

  </div>

</div>
