

<div class="main-content">

  <div class="container">
    <div class="header" style="text-align: center">
      <p style="">Thêm sách</p>
    </div>

    <form id="survey-form"  [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label id="name-label" for="title">Title</label>
        <input type="text" name="title" id="title" class="form-control" formControlName="title" placeholder="Enter title" required>
      </div>
      <div class="form-group">
        <label id="au-label" for="au">Author</label>
        <input type="text" name="au" id="au" class="form-control" formControlName="author" placeholder="Enter author" required>
      </div>
      <div class="form-group">
        <label id="des-label" for="des">Description</label>
        <input type="text" name="des" id="des" class="form-control" formControlName="description" placeholder="Enter description" required>
      </div>
      <div class="form-group">
        <label id="img-label" for="img">Image</label>
        <input type="text" name="img" id="img" class="form-control" formControlName="imgSrc" placeholder="Enter description" >
      </div>
      <div class="list-chapter">
        <div class="btn-add btn btn-primary" style="margin-bottom: 10px" (click)="addChapter()">
          Add Chapter
        </div>
        <ag-grid-angular
          style="width: 100%; height: 150px;"
          class="ag-theme-alpine"
          [rowData]="rowData"
          [columnDefs]="columnDefs"
          (gridReady)="onGridReady($event)"
        >

        </ag-grid-angular>
      </div>

      <div class="form-group">

        <button style="background-color: #b15ec599;
margin-top: 10px;" id="submit" class="submit-button" type="submit" >Submit</button>

      </div>

    </form>

  </div>

</div>
