<div class="content">
  <mat-accordion class="example-headers-align" multi>

    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title style="flex-basis: unset;">
          {{book.title}}
        </mat-panel-title>
        <mat-panel-description style="justify-content: flex-end;">
          <mat-icon>menu_book</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div style="margin: 10px 5px;">
        <p>
          {{book.description}}
        </p>
      </div>
      <mat-expansion-panel *ngFor="let chapter of book.chapterList" style="margin: 10px 0;">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{chapter.title}}
          </mat-panel-title>
          <a [routerLink]="['../../add-quiz',chapter.id]">
            <mat-panel-description style="justify-content: flex-end;">
              <span style="margin-right: 5px">Add question</span>
              <mat-icon>library_add</mat-icon>
            </mat-panel-description>
          </a>

        </mat-expansion-panel-header>
        <div style="margin: 10px 5px;">
          <p>
            {{chapter.description}}
          </p>
        </div>
        <div style="padding-left: 10px;" *ngFor="let ex of chapter.questionList; let i = index">
          <p  (click)="ex.isActive = !ex.isActive" >Question {{i + 1}} <a [routerLink]="['../../edit-quiz',ex.id]">Edit Question</a></p>

          <div *ngIf="ex.isActive">
            <app-quiz [question]="ex"></app-quiz>
          </div>
        </div>
      </mat-expansion-panel>



    </mat-expansion-panel>

  </mat-accordion>

</div>
